{% extends "main/main.html" %}


{% block sidebar %}
<div style="margin-top:55px" class="row">
</div>
{% endblock %}


{% block main %}

<div class="row">
    <div class="col-md-12" style="padding-left:25px">
        <ul class="nav nav-pills" style="float:right">
            <li id="singularity-link"
                class="{% if recipetype == 'docker' %}{% else %}active{% endif %}">
                        <a data-toggle="pill" 
                           id="pill-singularity" 
                           href="#singularity-section">Singularity</a></li>
            <li id="docker-link"
                class="{% if recipetype == 'docker' %}active{% endif %}"><a data-toggle="pill" 
                id="pill-docker" 
                href="#docker-section">Docker</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="padding-left:25px">
        <div class="tab-content">
            <div id="singularity-section" class="tab-pane fade in {% if recipetype == 'docker' %}{% else %}active{% endif %}">
 
                 <!-- Singularity Form-->
                 <form id="singularity-form" action="{{ url_for('generator') }}" method="post">
                      <div class="form-group">
                          <label for="content" id='recipe-content'>Your Singularity Recipe</label>
                          <textarea name="content" 
                                    class="form-control" 
                                    style="height:300px" 
                                    id="singularity-content" 
                                    rows="300">{{ recipes['singularity'] }}</textarea>
                          <input type="hidden" name="recipe-kind" value="singularity"/>
                          <hr>
                          <button type="submit" id="singularity" class="btn btn-secondary submit-form">Convert</button>
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                          <button type="button" id="build" onclick="showBuild()" class="btn btn-secondary">Build</button>
                      </div>
                  </form>

            </div>
            <div id="docker-section" class="tab-pane fade in {% if recipetype == 'docker' %}active{% endif %}">

                 <!-- Docker Form -->
                 <form id="docker-form" action="{{ url_for('generator') }}" method="post">
                  <div class="form-group">
                      <label for="content" 
                             id='recipe-content'>Dockerfile</label>
                      <input type="hidden" name="recipe-kind" value="docker"/>
                      <textarea name="content"
                                class="form-control" 
                                style="height:300px" 
                                id="docker-content" rows="300">{{ recipes['docker'] }}</textarea>
                      <hr>
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                      <button type="submit" id="docker" class="btn btn-secondary submit-form">Convert</button>

                  </div>
                  </form>

            </div>
        </div>
    </div>
</div>
{% include "recipe/build-modal.html" %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">

    // Highlight generator button
    $('#generator-button').addClass('btn-primary');

    function showBuild() {
         $("#show-modal").click();
    }

    $('#docker-link').click(function(){
        $("#docker-link").addClass('active');
        $('#singularity-link').removeClass('active');
    })

    $('#singularity-link').click(function(){
        $("#singularity-link").addClass('active');
        $('#docker-link').removeClass('active');
    })

    $(document).ready(function() {
         console.log('<3');
    });
</script>
{% endblock %}
