{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <!-- SIDEBAR CONTROLS -->
        <div class="col-md-2">
            {% block sidebar %}{% endblock %}
            <div class="row" style='margin-top:30px;'>

                <!-- small blue buttons -->
                <div class="col-md-12">
                 <span class="label label-info">
                    <a href="/settings" style='color:white;'>Settings</a>
                 </span>

                {% include "main/sidebar.html" %}
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <div class="col-md-9">
            <div class="row" style="padding-top:35px">
                <div class="col-md-12">
                {% block main %}{% endblock %}
                </div>
            </div>
            <p id="messages" style="display:none" class="alert alert-info"></p>
        </div>
    </div>
</div>
{% endblock %}
