<div style='margin-bottom:50px'>
    <a href="/"><button id="containers-button" 
                        class="btn btn-default btn-xl question_button">Containers</button></a>
    <a href="/pull"><button id="pull-button" 
                            class="btn btn-default btn-xl question_button">Pull</button></a>
    <a href="/recipe"><button id="generator-button" 
                              class="btn btn-default btn-xl question_button">Build</button></a>
    <hr>
</div>
{% if plugins %}
<div style='margin-bottom:30px'>
    <small>plugins</small>
    {% for plugin in plugins %}
    {% if plugin == activeplugin %}
    <a href="/{{ plugin }}"><button class="btn btn-info btn-xl question_button">{{ plugin }}</button></a>
    {% else %}
    <a href="/{{ plugin }}"><button class="btn btn-default btn-xl question_button">{{ plugin }}</button></a>
    {% endif %}
    {% endfor %}
    <hr>
</div>
{% endif %}
{% if images %}
<form id="docker-form" action="/container/view" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
     <div class="input-group">
         <select class="form-control" style="height:38px" id="container" name="container">
         {% for container in images %}    
         <option value="{{ container.uri }}">{{ container.uri }}</option>
         {% endfor %}
         </select>   
         <span class="input-group-btn">
         <button type="submit" class="btn btn-default" type="button" tabindex="-1">View</button>
         </span>
     </div>
</form>
{% endif %}
 <img name="robot" 
      onMouseOver="document.robot.src='{{ url_for('static', filename='img/robot-blinking.png') }}';" 
      onMouseOut="document.robot.src='{{ url_for('static', filename='img/robot.png') }}';"
      style="width:100%;" 
      src="{{ url_for('static', filename='img/robot.png') }}">
