<div class="container">
<footer class="footer" style="position: fixed; bottom:20px; margin:auto;">
   <div class="container">
     <span style="float:left">
         <span class="text-muted">Made with <i style="color:lightseagreen" class="fa fa-heart"></i> by 
           <a href="https://www.github.com/vsoch">vsoch</a></span> 
     </span>
     <span style="float:right">
       <a href="/settings">settings</a> | <a href="/settings">api</a> | <a href="https://singularityhub.github.io/interface">docs</a>
     </span>
   </div>
</footer>
</div>
