<footer class="footer" style="position: fixed; bottom:0px; margin:auto; background-color:white; width:100%">
     <div class="row" style="background-color:white; padding-top:20px; padding-bottom:20px;">
         <div class="col-md-8">
             <span style="margin-left:270px;" class="text-muted">Made with <i style="color:lightseagreen" 
                   class="fa fa-heart"></i> by 
               <a href="https://www.github.com/vsoch">vsoch</a></span> 
         </div>
         <div class="col-md-4">
            <a href="/settings">settings</a> | 
            <a href="#" onclick="showLogs()">logs</a> | 
            <a href="/api/containers">api</a> | 
            <a href="https://singularityhub.github.io/interface">docs</a>
        </div>
    </div>
</footer>
