{% extends "main/main.html" %}

{% block sidebar %}
<div class="row" style='margin-top:20px'>
    <div class='col-md-12'>
        <h3>Pull from</h3>
        <div class="input-group">
            <input class="form-control" 
                   id="image-uri" 
                   aria-describedby="image-uri-help" 
                   placeholder="Enter image uri">
            <small id="image-uri-help"
                   class="form-text text-muted">unique resource identifier</small>
            <span class="input-group-btn">
                <button class="btn btn-default" 
                        id="pull_button" 
                        style="margin-bottom: 20px; height: 34px;"
                        type="button" tabindex="-1">Pull</button>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class='col-md-12'>
        <div class="btn-group-vertical btn-group-toggle" style="width:100%" data-toggle="buttons">
            <label class="btn btn-info active">
                <input endpoint='docker://' id="docker" name='pull-source' 
                       autocomplete="off" type="radio" checked>Docker Hub</label>
            <label class="btn btn-info" id="nvidia">
            {% if nvidia %}
                <input endpoint='nvidia://' id="nvidia" name='pull-source' 
                       autocomplete="off" type="radio">Nvidia Cloud
            {% else %}
                <input endpoint='nvidia://' id="nvidia" name='pull-source' 
                       autocomplete="off" type="radio" disabled>Nvidia Cloud
            {% endif %}</label>
                <label class="btn btn-info">
                    <input endpoint='shub://' name='pull-source' id="shub" 
                           autocomplete="off" type="radio">Singularity Hub</label>
        </div>
    </div>
</div>
{% endblock %}

{% block main %}

{% include "terminal.html" %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript">

        function showButton(color) {
            $('.status-btn').hide();
            $('.button.' + color).show();
        }

        {% if nvidia %}{% else %}
          $("#nvidia").click(function(){
              $('#messages').html("You must add a token in <a href='/settings'>settings</a> to use this endpoint. If you've already done this, try disabling your ad blocker to enable cookies.")
              $('#messages').show();
          });
        {% endif %}

        $("#pull_button").click(function(){

            var endpoint = $('.btn-group-vertical > .btn.active > input').attr('endpoint');
            var uri = $('#image-uri').val();
            var url =  "/action/pull?q=" + uri + '&uri=' + endpoint;

            if (uri != "") {
                console.log(url)

                var prompt = $('.prompt')
                var xhr = new XMLHttpRequest()
                xhr.open("GET", url , true)

                // Hide status buttons, show running state
                $("#box").text("") 
                showButton('yellow');
 
                // On finish, reload page
                xhr.onloadend = function () {
                    var prompt = $('.prompt')
                    $("#box").text("done") 
                    showButton('green');
                }

                // First message to user
                prompt.typed({
                    strings: ["Pulling " + uri + '... (see docker logs for progress)...'],
                    typeSpeed: 1,
                })

                // Update user with dialog
                xhr.onprogress = function () {

                    var message = xhr.responseText.replace('\n','<br>');
                    var lines = message.split('\n')
                    $('.typed-cursor').text('');

                    $.each(lines, function(e,line){
                        var line = "<span class='gray'>" + line + "</span><br>";
                        if (e==lines.length-1){
                            line = "<a href='/container/view?uri=" + uri + "'>" + line + "</a>";
                        }
                        $('.history').append(line);
                    })
                    prompt.html('');
                    $('section.terminal').scrollTop($('section.terminal').height());
                }
                xhr.send()
            } else {
                $('.history').html('$ Please enter a valid unique resource identifier (uri) <br>');
            }

        })
    </script>
{% endblock %}
