<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Singularity!</title>

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Interactive container manager and generator for Singularity">
      <meta name="keywords" content="singularity, containers">
      <meta name="author" content="Vanessa Sochat">

      <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}">
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>

      {% block head %}
      {% endblock %}

  </head>
  <body>

    <div class="container-fluid">
    {% block content %}
    {% endblock %}
    </div>

{% block scripts %}
{% endblock %}

</body>

</html>
